.aboutUs {
  padding-top: 172px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    justify-content: space-around;
    margin-left: 200px;

    &__text {
      flex-wrap: nowrap;
      flex-direction: column;
    }

    .image {
      width: 625px;
      height: 604px;


    }
  }

  &__title {
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;

    &:nth-child(4) {
      padding-top: 120px;
    }
  }

  &__subtitle {
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
    max-width: 570px;
    padding-top: 50px;

    &:nth-child(3) {
      padding-top: 30px;

    }

    &:last-child {
      padding: 0;
    }


  }

  &__subtitle-img {
    display: flex;
    padding-top: 50px;
  }

  &__subtitle-img:last-child {
    padding-top: 30px;
  }

  &__img {
    width: 29px;
    height: 43px;
    margin: 10px 27px 0 0;
  }
}

@media (max-width: 1024px) {
  .aboutUs {

    &__subtitle {
      font-size: 15px;
    }

    .row {
      display: flex;
    }
  }
}

@media (max-width: 376px) {
  .aboutUs {
    padding-top: 20px;

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 375px;
      margin-left: 20px;

      .image {
        position: relative;
        width: 350px;
        height: 315px;

        &:before {
          position: absolute;
          content: '';
          background: url("../img/Group 176.png");
        }
      }

      .row {
        display: flex;
        flex-direction: column;
        padding-right: 20px;
      }
    }

    &__title {
      font-size: 30px;
      padding-bottom: 50px;

    }

    &__subtitle {
      padding-top: 0;
      font-size: 14px;
      font-weight: 300;
      max-width: 330px;
      line-height: 160.19%;
    }

    &__subtitle-img {
      padding-top: 0;
    }

    &__img {
      width: 19px;
      height: 29px;
      margin: 0 15px 0 0;
    }
  }


}
